@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>For additional information visit 
    <a href="https://www.vicorienteering.asn.au/maplink/" target="_blank" >Orienteering Victoria's Map Link Page</a></p>
