@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    Mont Albert VIC 3127<br />
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@kozmatech.com">support@kozmatech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@kozmatech.com">info@kozmatech.com</a>
</address>
